# dependencies

node_modules/

# Expo

.expo/
dist/
web-build/

# Native

_.orig._
_.jks
_.p8
_.p12
_.key
\*.mobileprovision

# Metro

.metro-health-check\*

# debug

npm-debug._
yarn-debug._
yarn-error.\*

# macOS

.DS_Store
\*.pem

# local env files

.env\*.local

# env

.env

# typescript

\*.tsbuildinfo

# Android

/android

# Editor directories and files

.vscode/\*
!.vscode/extensions.json

# Unit Test

/coverage

# readme images

/assets/images/readme
